/* media querys */
@media (max-width: 1280px){
    .nav-box{
        margin-right:3%;
    }
}

@media (max-width:1150px) and (min-width:851px){
    .nav-box .nav.nav-pills li a{
        font-size: 20px;
        padding-top: 38px;
    }
}

@media (min-width:1100px){
    .container{
        width: 1070px;
    }
}

@media (max-width:1099px) and (min-width:992px){
    .text-contact{
        font-size: 18px;
    }
    
    .right blockquote{
        padding-top: 10px;
    }
}


@media (max-width:1050px){
    .nav-box .nav.nav-pills li a{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    @media (min-width:992px){
        .logo-box{
            width: 310px;
        }
    }
}

@media (max-width:991px){
    #logo{
        width: 230px;
    }
    .logo-box{
        width: 240px;
    }
    
    @media (min-width:768px){
 /*------- responsive sm whoAreWe ----------*/
        .width-img-description{
            width: 100%;
            float: none;
            text-indent: 0px;
            margin-bottom: 20px;
        }
        .right.width-img-description{
            margin-right: 0px;
        }
        .sub-description{
            margin-left: 0px;
        }
        .width-block-description{
            width: 100%;
        }
        .block-description{
            text-indent: 0px;
            height: 400px;
            border-left: none;
            border-right: none !important;
            border-top: solid 7px #a5dbdd;
            border-bottom: solid 7px #a5dbdd;
            -webkit-box-shadow: 13px 12px 26px -6px rgba(0,0,0,0.59) !important;
            -moz-box-shadow: 13px 12px 26px -6px rgba(0,0,0,0.59) !important;
            box-shadow: 13px 12px 26px -6px rgba(0,0,0,0.59) !important;
            padding: 20px !important;
            padding-top: 0px !important;
        }
        .img-subtitle{
            width: 50%;
            margin-left: 25%;
        }
        .section-subtitle{
            text-indent: 0px;
            font-style: normal;
            font-size: 22px;
        }
        .block-description .text-center{
            margin-bottom: 15px;
        }
/*--------- responsive sm services ----------*/
        .service-item img{
            width: 100% !important;
            height: auto !important;
        }
        
        .service-item .col-sm-8{
            text-align:justify;
        }
        
        .service-item img.first{
            width: 80% !important;
        }
        
        .service-item img.third{
            margin-top: 50px;
        }
    }
}

@media (max-width:850px) and (min-width:810px){
    .nav-box .nav.nav-pills li a{
        font-size: 18px;
        padding-top: 41px;
    }
}

@media (max-width:809px){
    .nav-box .nav.nav-pills li a{
        font-size: 16px;
        padding-top: 44px;
    }
}

@media (max-width:767px){
	.main-container {
		height: 70px;
	}

	#logo {
		width: 150px;
	}

	.logo-box {
		line-height: 70px;
		width: 180px;
		height: 70px;
	}

	footer {
	}

	footer p {
		position: relative;
		width: 100%;
		display: block;
		margin: 0px;
		padding: 0px 0px 10px 0px;
		text-align: center;
		font-size: 14px;
	}

	#we {
		display: block;
		width: 100%;
	}

	.list-icon {
		position: relative;
		list-style: none;
		width: 100%;
		text-align: center;
		padding: 5px 0px;
		margin: 0px;
		display: inline-block;
	}

	.list-icon .icon {
		float: none;
		margin: 0px;
		padding: 0px 10px;
	}

	.list-icon .icon .social-icon {
		height: 30px;
		width: auto;
	}
}


