/** codeamazing.com.ve styles by codeamazing developers
*	v1.2
*/

/*------------ desktop media querys -------------*/

@media (max-width: 1280px) {
    .nav-bar {
        margin-right: 3%;
    }
}

@media (min-width: 1200px) {
    .vision-img, .mision-img {
		display: inline-block;
		vertical-align: top;
		width: 12%;
		height: 92px;
	}

	.vision-img {
		padding: 0 3% 0 0;
	}

	.mision-img {
		padding: 0 0 0 3%;
	}

	.vision-img > img, .mision-img > img {
		max-height: 100%;
		max-width: 100%;
		width: auto;
	}
}

@media (max-width: 1050px) {
    .nav-pills > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 851px) and (max-width: 1150px) {
    .nav-pills > li > a {
        font-size: 20px;
        padding-top: 38px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.contact-data-md {
		font-size: 1.4em;
	}

	.contact-data-md > li > a > i {
		font-size: 50px;
		color: #09589b;
	}
}

/*------- end desktop media querys ------------*/

/*--------------- tab styles ------------------*/

@media (min-width: 768px) and (max-width: 991px) {

/*--------- header ----------*/

	#logo {
        width: 240px;
    }

    #logo > img {
        width: 230px;
    }

	@media (min-width: 810px) and (max-width: 850px) {
		.nav-pills > li > a {
			font-size: 18px;
			padding-top: 41px;
		}
	}

	@media (max-width: 809px) {
		.nav-pills > li > a {
			font-size: 16px;
			padding-top: 44px;
		}
	}

	.nav-pills > li > a:hover {
		background-color: #1e6f63;
		animation-duration: none;
		animation-name: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

/*------- end header --------*/

/*--------- whoAreWe ------------*/

	.vision-img-sm, .mision-img-sm {
		margin-bottom: 20px;
		text-align: center;
		width: 100%;
		height: 150px;
	}

	blockquote h3 {
		text-indent: 0px;
		padding: 10px 0px;
	}

	blockquote {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 500px;
	}

	.vision-wrap, .mision-wrap {
		padding: 15px;
	}

	.vision-wrap > blockquote {
		border: none;
		border-top-style: solid;
		border-top-width: 7px;
		border-top-color: #a5dbdd;
		border-bottom-style: solid;
		border-bottom-width: 7px;
		border-bottom-color: #a5dbdd;
	}

	.mision-wrap > blockquote {
		border: none;
		border-top-style: solid;
		border-top-width: 7px;
		border-top-color: #a5dbdd;
		border-bottom-style: solid;
		border-bottom-width: 7px;
		border-bottom-color: #a5dbdd;
	}

/*------- end whoAreWe ----------*/

/*---------- services -----------*/

	.services-item > div:nth-child(1) {
		height: auto;
		line-height: 100%;
		vertical-align: top;
		margin-top: 0px;
	}

	.services-item > div:nth-child(2) > h3 {
		margin-top: 0px;
	}

/*--------- end services --------*/

/*------------ contactUs -----------*/

	.contact-method {
		background: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		height: auto;
		padding-top: 10px;
	}

	.contactUs-body {
		margin: 30px;
		padding: 50px;
	    background-color: #fff;
		padding-top: 30px;
		-webkit-box-shadow: 5px 9px 26px 4px rgba(113,116,122,1);
		-moz-box-shadow: 5px 9px 26px 4px rgba(113,116,122,1);
		box-shadow: 5px 9px 26px 4px rgba(113,116,122,1);
	}

	.group-input {
		margin: 0 0 20px 0;
	}

	.contact-method .form-control {
		border: 1px solid #ccc;
		background: #fff;
		font-style: normal;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}

	.contact-method .form-control.error {
		border-color: #b41313;
		color: #b41313;
	}

	.contact-method .form-control.valid {
		border-color: #20811c;
		color: #20811c;
	}

	.contact-data-md {
		padding: 0px;
	}

	.contact-data-md > li {
		display: inline-block;
	}

	.contact-data-md > li:nth-child(1) {
		margin-right: 30px;
	}

	.contact-data-md li > a > i.fa-envelope-o {
		margin-left: 0px;
	}

/*--------- end contactUs ----------*/

/*--------- footer ----------*/

	footer > p {
		display: block;
		text-align: center;
	}

	.social-list {
		position: relative;
		display: block;
		height: 80px;
		text-align: center;
	}
}

/*--------- end footer ----------*/

/*-------------- end tab styles --------------*/
