/** codeAwesome.com.ve responsive styles by codeAwesome
*	v1.0
*/

/*---------------- media querys ----------------*/

@media (max-width: 1280px){
    .nav-bar {
        margin-right: 3%;
    }
}

@media (min-width: 851px) and (max-width: 1150px){
    .nav-bar .nav.nav-pills li a {
        font-size: 20px;
        padding-top: 38px;
    }
}

@media (min-width: 1100px){
    .container {
        width: 1070px;
    }
}

/* arreglar */
@media (min-width: 992px) and (max-width: 1099px){
    .text-contact {
        font-size: 18px;
    }
    
    .right blockquote {
        padding-top: 10px;
    }
}
/*-------------*/

@media (max-width: 1050px){
    .nav-bar .nav.nav-pills li a {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    @media (min-width: 992px){
        #logo > img {
            width: 310px;
        }
    }
}

@media (max-width: 991px){
    #logo {
        width: 240px;
    }

    #logo > img {
        width: 230px;
    }
    
    @media (min-width: 768px){
/*------- responsive sm whoAreWe ----------*/
		.vision-img-sm, .mision-img-sm {
			margin-bottom: 20px;
			text-align: center;
			width: 100%;
			height: 150px;
		}

		blockquote h3 {
			text-indent: 0px;
			padding: 10px 0px;
		}

		blockquote {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: 500px;
		}

		.vision-wrap, .mision-wrap {
			padding: 15px;
		}

		.vision-wrap > blockquote {
			border: none;
			border-top-style: solid;
			border-top-width: 7px;
			border-top-color: #a5dbdd;
			border-bottom-style: solid;
			border-bottom-width: 7px;
			border-bottom-color: #a5dbdd;
		}

		.mision-wrap > blockquote {
			border: none;
			border-top-style: solid;
			border-top-width: 7px;
			border-top-color: #a5dbdd;
			border-bottom-style: solid;
			border-bottom-width: 7px;
			border-bottom-color: #a5dbdd;
		}
/*--------- responsive sm services ----------*/

		.services-item > div:nth-child(1) {
    		height: auto;
    		line-height: 100%;
    		vertical-align: top;
            margin-top: 0px;
        }

		.services-item > div:nth-child(2) > h3 {
			margin-top: 0px;
		}

        .services-item > div:nth-child(2) > p {
            font-size: 14px;
            line-height: 1.5;
        }

/*--------- responsive sm contactUs --------*/
        .contact-method {
	        background: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            height: auto;
            padding-top: 10px;
        }

        .contact-method .form-control {
            border: solid 1px;
            background: #fff;
        }

        .contact-method .form-control.active {
            outline: 0px;
            border: solid 1px #09589b;
        }

        .contact-method .form-control.error {
            border-color: #b41313;
        }

        .contact-method .form-control.valid {
            border-color: #20811c;
        }

        .contact-method .group-input {
	        margin-top: 0px;
            margin-bottom: 20px;
        }

        .contact .text-contact {
            margin-left: 5px;
        }

        .contact {
            font-size: 16px;
        }

        .contact li {
            margin-bottom: 0px;
        }

        .contact li i {
            font-size: 46px;
        }
/*--------- responsive sm footer ----------*/
        
        footer p {
            text-align: center;
            display: block;
            position: inherit;
        }
        
        footer ul.list-icon {
            display: block;
            margin-top: 15px;
            text-align: center;
            margin-bottom: 0px;
        }
        
        footer li.icon {
            float: none !important;
        }
    }
}

@media (min-width: 810px) and (max-width: 850px){
    .nav-bar .nav.nav-pills li a {
        font-size: 18px;
        padding-top: 41px;
    }
}

@media (max-width: 809px){
    .nav-bar .nav.nav-pills li a{
        font-size: 16px;
        padding-top: 44px;
    }
}

@media (max-width: 767px){

/*---------- re-write styles ----------*/
	/*----- fullpage -----*/
	#fp-nav.right {
		right: 5px;
	}

	.fp-slidesNav.bottom {
		bottom: 5px;
	}

	.fp-tableCell {
		display: block;
		vertical-align: top;
	}

	/*----- superslides -----*/
	#slides {
		z-index: 1;
	}

	.slides-pagination {
		top: 5px;
		left: 0px;
	}

/*--------------- global styles ---------------*/
	span, div, h1, h3, h4, p {
		margin: 0px;
		padding: 0px;
	}

    h1, h3, h4 {
        font-size: inherit;
        font-weight: bold;
        line-height: 1;
        text-align: center;
    }

	p {
		font-size: 1.2em;
		line-height: 1.5;
		text-indent: 2em;
		color: #000;
		padding-top: 10px;
	}

	span {
		display: block;
		width: 100%;
		text-align: center;
	}

	.container {
		display: block;
		height: 100%;
		width: 100%;
		padding: 15px 12% 12% 12%;
		overflow: hidden;
	}

	.xs-title {
		text-align: center;
	}

	.xs-body {
		text-align: justify;
	}

	.next-text {
		text-indent: 0px;
	}

/*----------------- header -----------------*/
	#header {
		color: #fff;
		text-align: center;
        background-image: url('../pic/building.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
		overflow: hidden;
	}

	#menu-xs {
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		height: 20%;
		width: 100%;
		list-style: none;
		padding: 0px;
		margin: 0px;
        z-index: 3;
	}

	#menu-xs li {
		display: inline-block;
		width: 45%;
		height: 40px;
		line-height: 40px;
		vertical-align: middle;

		border: 1px solid #777777;
		border-radius: 5px;
		margin: 0px 3px 10px 3px;

		background-color: rgba(57, 56, 55, 0.8);
		color: #fff;
		font-size: 16px;

		-webkit-box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.6);
		box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.6);
	}

	#slides .container {
		height: 80%;
		padding: 14% 5% 4% 5%;
	}

    .slides-pagination a {
        border-color: white;
    }

    .slides-pagination a.current {
        background-color: white;
    }

    .slides-container h1, .slides-container .contrast > p {
        color: white;
    }

    .slides-container h1 {
        text-align: center;
        font-size: 36px;
        font-weight: 300;
    }

    .slides-container .contrast {
        margin-top: 8%;
        background: rgba(0, 0, 0, 0.5);
        padding: 0px 10px;
        -webkit-box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
    }

    .slides-container > li > div.container > .contrast > p {
        text-indent: 0;
		text-align: justify;
        font-size: 18px;
    }

	@media (max-height: 480px) {
		#menu-xs {
			height: 25%;
		}

		#slides .container {
			height: 75%;
		}

		#menu-xs li {
			width: 40%;
			height: 30px;
			line-height: 30px;
			font-size: 14px;
		}

		.slides-container h1 {
			font-size: 28px;
			font-weight: 300;
		}

		.slides-container > li > div.container > .contrast > p {
			font-size: 14px;
		}
	}

/*--------------- whoAreWe ---------------*/

    .waw-main-title, .waw-dev-title {
		position: relative;
        height: 10%;
    }

	.waw-main-title {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		font-size: 26px;
		font-weight: bold;
	}

	.waw-main-title > img {
		max-width: 100%;
		max-height: 100%;
	}

	.waw-main-body, .waw-dev-body {
		height: 90%;
	}

	.waw-title {
		height: 50%;
	}

	.waw-body, .waw-dev-ficha {
		height: 50%;
	}

	.waw-img {
		display: flex;
		height: 80%;
		align-items: center;
		justify-content: center;
	}

	.waw-img > img {
		max-width: 100%;
		max-height: 100%;
	}

	.waw-title > h3 {
		display: flex;
		height: 20%;
		align-items: center;
		justify-content: center;
		font-size: 26px;
		font-weight: bold;
	}

	.waw-dev-ficha {
		padding: 15px;
	}

	.waw-dev-title > h3 {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
	}

	.waw-dev-ficha > img {
		display: block;
		height: 70%;
		width: auto;
		margin: 0 auto;
	}

	.waw-dev-ficha > :nth-child(2) {
		font-size: 26px;
		font-weight: bold;
	}

	.waw-dev-ficha > :nth-child(3) {
		font-size: 16px;
	}

	@media(device-width: 320px) {
		.waw-main-title > h3 {
			font-size: 22px;
		}
	}

	@media(max-height: 480px) {
		p {
			font-size: 1.1em;
		}

		.waw-dev-title > h3 {
			font-size: 22px;
		}

		.waw-dev-ficha > :nth-child(2) {
			font-size: 20px;
		}

		.waw-dev-ficha > :nth-child(3) {
			font-size: 14px;
		}
	}

/*--------------- services ---------------*/
    .s-main-title {
        display: flex;
        height: 100%;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
    }

    .s-main-title img {
	    max-width: 100%;
		max-height: 100%;
    }

	.s-main-title h3 {
        font-size: 40px;
    }

	.service-title {
		height: 40%;
		font-size: 16px;
	}

	.flex-img {
		display: flex;
		height: 80%;
		justify-content: center;
		align-items: center;
	}

	.flex-img > img {
		max-height: 100%;
		max-width: 100%;
	}

	.service-title > h3, .s-carousel-title {
		display: flex;
		height: 20%;
		justify-content: center;
		align-items: center;
	}

	.service-body {
		height: 60%;
	}

	.service-title, .s-carousel-title, .s-main-title {
		font-weight: bold;
		color: #a33200;
	}

	/*----- flip carousel xs styles -----*/

	.s-carousel-title {
		font-size: 20px;
	}

	.s-carousel-body {
		height: 80%;
	}

	#flip-carousel-xs {
		height: 100%;
	}

	.flip-carousel {
		border: none;
		height: 100%;
		padding: 0px;
	}

	.flip-carousel .controls .arrow {
		position: absolute;
		top: 4%;
		width: 50px;
		height: 50px;
		background: rgba(119, 67, 35, 0.72);
		border-radius: 50%;
		border: solid 1px #000;
	}

	.flip-carousel .controls .arrow:after {
		top: 14px;
		left: 16px;
	}

	.flip-carousel .controls .arrow.right:after {
		right: 16px;
		top: 14px;
	}

	.flip-carousel > ul {
		position: absolute;
		top: 20%;
		left: 0px;
		height: 80%;
		width: 100%;
		margin: 0;
	}

	.flip-carousel > ul > li {
		display: block;
		float: none;
		margin: 0px;
		height: 100%;
		width: 100%;
		padding: 5%;
	}

	.flip-carousel .face, .flip-carousel .card {
		height: 100%;
	}

	.flip-img-xs {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		overflow: hidden;
	}

	.flip-img-xs img {
		max-height: 100%;
		max-width: 100%;
	}

	@media(max-height: 480px) {
		.s-main-title h3 {
			font-size: 30px;
		}

		.s-main-title img {
			max-height: 60%;
		}

		.flip-carousel .controls .arrow {
			width: 40px;
			height: 40px;
		}

		.flip-carousel .controls .arrow:after {
			top: 9px;
			left: 12px;
		}

		.flip-carousel .controls .arrow.right:after {
			right: 12px;
			top: 9px;
		}
	}

	@media(min-height: 481px and max-height: 767px) {
		.service-title {
			font-size: 18px;
		}

		.s-carousel-title {
			font-size: 22px;
		}
	}

/*--------------- contactUS ---------------*/
	#contactUs-xs {
		background: url("../pic/contact-bg1.png") right 5%, url("../pic/contact-bg2.png") center 90%;
		background-repeat: no-repeat;
		background-size: 50%, contain;
	}

	.contact-title {
		height: 15%;
	}

	.contact-title > h3 {
		display: flex;
		align-items: top;
		justify-content: flex-start;
		height: 100%;
		font-size: 35px;
	}

	.contact-body {
		height: 85%;
	}

	.contact-data {
		height: 50%;
		list-style: none;
		font-size: 20px;
		padding: 0px;
		margin: 0px;
		width: 100%;
	}

	.contact-data > li {
		display: flex;
		height: 30%;
		align-items: center;
		justify-content: center;
	}

	.contact-data > li.email {
		height: 40%;
	}

	.contact-data > li > a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-decoration: none;
		color: #000;
		height: 30px;
	}

	.contact-data > li.email > a {
		height: 100%;
		flex-direction: column;
		font-size: 16px;
	}

	.contact-data > li i {
		font-size: 40px;
		padding-right: 10px;
		color: #09589b;
	}

	.contact-form {
		height: 50%;
		margin: 0px;
	}

	.contact-form > h3 {
		font-size: 24px;
	}

	.group-input {
		margin: 10px 0px;
	}

	.contact-form-focus {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100%;
		z-index: 0;
		background-color: rgba(0, 0, 0, 0.8);
		margin: 0px;
		padding: 15px 12%;
		overflow: scroll;
		overflow-x: hidden;
	}

	.contact-form-focus > h3 {
		font-size: 24px;
		color: #fff;
	}

	.contact-form-focus textarea {
		height: 40vh;
	}

	.contact-form-focus #send {
		color: #09589b;
		background-color: #fff;
	}

	.contact-form .form-control.error,
	.contact-form-focus .form-control.error{
		border-color: #b41313;
		color: #b41313;
	}

	.contact-form .form-control.valid,
	.contact-form-focus .form-control.valid{
		border-color: #20811c;
		color: #20811c;
	}

	#back {
		height: 100px;
		margin: 30px 0px;
		color: #fff;
		text-align: center;
	}

	#back i {
		width: 100%;
		padding-top: 15px;
	}

	@media (max-height: 480px) {
		#contactUs-xs {
			background-position: right 5%, center 95%;
			background-size: 30%, 70%;
		}

		.contact-title > h3 {
			font-size: 30px;
		}

		.contact-data > li i {
			font-size: 30px;
		}

		.contact-data {
			font-size: 16px;
			height: 40%;
		}

		.contact-data > li.email > a {
			flex-direction: row;
		}

		.contact-data > li, .contact-data > li.email {
			height: 25%;
		}

		.contact-form {
			height: 60%;
		}

		.contact-form > h3 {
			font-size: 20px;
		}

		.contact-form .group-input > input {
			height: 30px;
		}

		.contact-form .group-input > textarea {
			height: 35px;
		}
	}

/*---------------- footer ----------------*/

	#footer {
		color: #fff;
	}

	.ft-title {
		height: 20%;
	}

	.ft-title > :nth-child(1) {
		font-size: 40px;
		font-weight: bold;
	}

	.ft-title > :nth-child(2) {
		font-size: 18px;
	}

	.ft-body {
		position: relative;
		height: 80%;
	}


	.ft-body a {
		display: block;
		width: 100%;
		height: 10vh;
		text-align: center;
		margin: 15px 0px;
		padding: 1vh 0px;
		border: solid 1px #fff;
		border-radius: 5px;
		background-color: #373b3c;
	}

	.ft-body a > i {
		font-size: 8vh;
		color: #fff;
	}

	.ft-body p {
		position: absolute;
		display: block;
		bottom: 5px;
		left: 0px;
		font-size: 14px;
		text-indent: 0px;
		color: #fff;
		width: 100%;
	}

	img.social-icon {
		max-height: 100%;
		width: auto;
		text-align: left;
	}

	@media (max-height: 480px) {
		.ft-title > :nth-child(1) {
			font-size: 30px;
			font-weight: bold;
		}

		.ft-title > :nth-child(2) {
			font-size: 16px;
		}

		.ft-body a {
			margin: 10px 0px;
		}

		.ft-body p {
			font-size: 12px;
		}
	}
/*------------- instruccions -------------*/
    .instruccions{
        background-color:rgba(0, 0, 0, 0.7);
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 10%;
        padding-right: 10%;
        z-index: 3;
        display: none;
    }

    .instruccions h2 {
        margin-top: 30px;
        font-size: 24px;
        display: block !important;
    }

    .instruccions .animation{
        height: 50vh;
        width: 100%;
        position: relative;
        display: block !important;
    }

    .instruccions .animation:before, .instruccions .animation:after{
        display: block;
        font-size: 18px;
    }

    .instruccions .animation:before {
        content: "Sección 1";
        background-color: cadetblue;
        height: 35%;
        padding-top: 18%;
    }

    .instruccions .animation:after {
        content: "Sección 2";
        background-color: crimson;
        height: 65%;
        padding-top: 33%;
    }

    .instruccions .animation.horizontal:after, .instruccions .animation.horizontal:before {
        height: 100%;
        padding-top: 40%;
        float: left;
    }

    .instruccions .animation.horizontal:before {
        width: 35%;
        content: "Sección 1.1";
    }

    .instruccions .animation.horizontal:after {
        width: 65%;
        content: "Sección 1.2";
    }

    .instruccions .animation img.hand-vertical {
        position: absolute;
        top: 9vh;
        left: 50%;
        width: 110px;
    }

    .instruccions .animation img.hand-horizontal {
        position: absolute;
        top: 27vh;
        left: 19%;
        display: none;
        width: 110px;
    }

    .instruccions .animation.horizontal img.hand-vertical {
        display: none;
    }

    .instruccions .animation.horizontal img.hand-horizontal {
        display: block;
    }

    .button-instruccions{
        background: transparent;
        border: 3px solid #fff;
        height: 15vh;
        margin-top: 3vh;
    }

    .button-ingore-instruccions{
        width: 48%;
    }

    #header > div > div.instruccions.animated > button:nth-child(4){
        margin-right: 1%
    }

    #header > div > div.instruccions.animated > button:nth-child(5){
        margin-left: 1%;
    }

    .width-button-instruccions{
        width: 43%;
    }

    .close-instruccions{
        margin-left: 10%;
    }

    .container-button{
        margin-top: 40vh;
    }

/*-------------------- landscape --------------------*/
	@media (orientation: landscape) {

		/*--------- global ----------*/
		@media(max-width: 480px) {
			p {
				font-size: 1.1em;
			}
		}

		span {
			display: block;
			width: 100%;
			text-align: center;
		}

		.container {
			padding: 8%;
			padding-top: 15px;
		}

		/*--------- end global ----------*/

		/*--------- header ----------*/
		#slides .container {
			padding-top: 6%;
			padding-bottom: 2%;
		}

		#menu-xs {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			height: 20%;
			width: 100%;
			list-style: none;
			padding: 0px;
			margin: 0px;
			z-index: 3;
		}

		#menu-xs li {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20%;
			height: 80%;
			line-height: normal;
			margin: 0px;
			font-size: 16px;
		}
		/*--------- end header ----------*/

		/*--------- whoAreWe ----------*/
		.waw-main-title {
			font-size: 22px;
		}

		.waw-title, .waw-body {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 49.5%;
			height: 100%;
			vertical-align: top;
			flex-direction: column;
		}

		.waw-dev-ficha {
			display: inline-block;
			height: 100%;
			width: 49.5%;
		}

		.waw-dev-ficha > :nth-child(2) {
			font-size: 22px;
			font-weight: bold;
		}
		/*--------- end whoAreWe ----------*/

		/*--------- services ----------*/
		.s-main-title {
			flex-direction: row;
		}

		.s-main-title img {
			max-width: 50%;
			max-height: 100%;
		}

		.s-main-title h3 {
			width: 50%;
			font-size: 40px;
		}

		.service-title {
			font-size: 20px;
		}

		.service-body p {
			padding: 0px;
		}

		.service-title, .service-body {
			display: inline-flex;
			flex-flow: column-reverse wrap;
			align-items: center;
			justify-content: center;
			width: 49.5%;
			height: 100%;
			vertical-align: top;
		}

		.flex-img {
			display: flex;
			height: 80%;
			padding: 10px;
			justify-content: center;
			align-items: center;
		}

		.flex-img > img {
			max-height: 100%;
			max-width: 100%;
		}

		.service-title > h3, .s-carousel-title {
			display: flex;
			height: 20%;
			justify-content: center;
			align-items: center;
		}

		.service-title, .s-carousel-title, .s-main-title {
			font-weight: bold;
			color: #a33200;
		}

		/*-- flip carousel --*/
		.flip-carousel > ul {
			top: 0px;
			left: 0px;
			margin: 0;
			height: 100%;
		}

		.flip-carousel > ul > li {
			padding: 5% 15%;
		}

		@media (max-width: 480px) {
			.service-body p {
				font-size: 15px;
			}
		}
		/*--------- end services ----------*/

		/*--------- end contactUs ----------*/
		#contactUs-xs {
			background-size: 22%, 50%;
		}

		.contact-data, .contact-form {
			display: inline-flex;
			flex-flow: column wrap;
			justify-content: center;
			vertical-align: top;
			height: 100%;
			width: 49.5%;
		}

		.contact-title > h3 {
			font-size: 30px;
		}

		.contact-data {
			font-size: 16px;
		}

		.contact-data > li {
			height: 20%;
		}

		.contact-data > li > a {
			justify-content: flex-start;
		}

		.contact-data > li.email {
			height: 30%;
			word-break: break-all;
		}

		.contact-data > li.email > a {
			flex-direction: row;
		}

		.contact-data > li i {
			font-size: 30px;
			padding-right: 10px;
		}

		.contact-form {
			padding: 5px;
		}

		.contact-form > h3 {
			font-size: 18px;
			padding: 8px;
		}

		.group-input {
			margin: 2px 0px;
		}

		.contact-form-focus .group-input {
			margin: 10px 0px;
		}

		.contact-form .group-input > input {
			height: 25px;
		}

		.contact-form .group-input > textarea {
			height: 40px;
		}

		/*--------- end contactUs ----------*/

		/*--------- end footer ----------*/

		.ft-title {
			height: 30%;
			margin-bottom: 8%;
		}

		.ft-body {
			height: 62%;
			text-align: center;
		}

		.ft-body a {
			display: inline-block;
			width: 20%;
			margin: 15px 5px;
			height: 15vh;
			padding: 2vh 0px;
    		border-radius: 0px;
		}

		.ft-body a > i {
			font-size: 10vh;
		}
		/*--------- end footer ----------*/

        /*--------- instruccions --------*/

        .instruccions h2 {
            margin-top: 13px;
            font-size: 13px;
            margin-bottom: 13px;
        }

        .instruccions .animation {
            height: 58vh;
        }

        .instruccions .animation:before {
            padding-top: 3%;
        }

        .instruccions .animation:after {
            padding-top: 10%;
        }

        .instruccions .animation.horizontal:before, .instruccions .animation.horizontal:after {
            padding-top: 13%;
        }

        .instruccions .animation img.hand-vertical {
            left: 65%;
            width: 70px;
        }

        .instruccions .animation img.hand-horizontal {
            left: 30%;
            width: 70px;
            top: 24vh;
        }

        .button-ingore-instruccions {
            width: 49%;
            margin-top: 5vh;
        }

        /*--------- end instruccions-----*/

        /*--------- instruccions --------*/

        .instruccions h2 {
            margin-top: 13px;
            font-size: 13px;
            margin-bottom: 13px;
        }

        .instruccions .animation {
            height: 58vh;
        }

        .instruccions .animation:before {
            padding-top: 3%;
        }

        .instruccions .animation:after {
            padding-top: 10%;
        }

        .instruccions .animation.horizontal:before, .instruccions .animation.horizontal:after {
            padding-top: 13%;
        }

        .instruccions .animation img.hand-vertical {
            left: 65%;
            width: 70px;
        }

        .instruccions .animation img.hand-horizontal {
            left: 30%;
            width: 70px;
            top: 24vh;
        }

        .button-ingore-instruccions {
            width: 49%;
            margin-top: 5vh;
        }

        /*--------- end instruccions-----*/

	}
}
