/* codeAwesome.com styles by codeAwesome */

/*---------- header ----------*/
.main-container {
	width: 100%;
	background-color: #1e6f63;
	height: 100px;
}

#logo {
	width: 300px;
	margin-top: 10px;
}

.logo-box {
	display: inline-block;
	width: 350px;
	height: 100px;
	background-color: #fff;
	text-align: center;
	
	-webkit-box-shadow: 0px 5px 8px 3px rgba(56,52,56,0.9);
	-moz-box-shadow: 0px 5px 8px 3px rgba(56,52,56,0.9);
	box-shadow: 0px 5px 8px 3px rgba(56,52,56,0.9);
}

.nav-box {
	display: inline-block;
	margin-left: 120px;
	vertical-align: top;
}

.nav-pills > li{
	padding-left: 2px;
}

.nav-pills > li > a {
	border-radius: 0px;
	color: #fff;
	margin: 0px;
	font-size: 24px;
	padding: 33px;
}

.nav-pills > li > a:hover{
	background: #fff;
	color: black;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.8);
}

#jumbotron {
	width: 1920px;
	min-width: 800px;
}
/*---------- end header ----------*/

/*---------- whoAreWe section ----------*/

section {
	margin-top: 15px;
}

#whoAreWe {
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0px;
}

.img-title {
	height: 80px;
	width: auto;
	vertical-align: top;
}

.section-title {
	font-size:4em;
	margin-top: 10px;
	vertical-align: top;
}

.section-desciption {
	margin-top: 30px;
	text-indent: 3em;
	font-size: 1.5em;
	line-height: 28px;
	color: #838383;
	text-align: justify;
    margin-bottom: 20px;
}

.photo-developer {
	margin-top: 20px;
	max-width: 200px;
	text-align: center;
}

.photo-developer img {
	max-width: 200px;
	text-align: center;
}


.container-description {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.width-block-description {
    width: 80%;
    margin-bottom: 50px;
}

.width-img-description {
    width: 10%;
}

.img-subtitle {
    height: 100px;
    width: 100px;
}

.section-subtitle {
    font-size: 2em;
    font-weight: bold;
}

.sub-description {
    margin-left: 50px;
    margin-top: 20px;
}

.section-subdesciption {
    text-indent: 3em;
	font-size: 1.5em;
	line-height: 28px;
	color: #e6e6e6;
	text-align: justify;
}
.left .block-description{
    border-left-color: #a5dbdd;
    border-left-width: 7px;
    -webkit-box-shadow: 13px 12px 26px -6px rgba(0,0,0,0.59);
    -moz-box-shadow: 13px 12px 26px -6px rgba(0,0,0,0.59);
    box-shadow: 13px 12px 26px -6px rgba(0,0,0,0.59);
}

.right .block-description{
    border-right-color: #a5dbdd;
    border-right-width: 7px;
    border-right-style: solid;
    -webkit-box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.59);
    box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.59);
}

.right.width-img-description{
    margin-right: 100px;
}

.block-description {
    font-style: italic;
    text-indent: 1em;
	font-size: 1.5em;
	line-height: 28px;
    height: 100px;
    background-color: #f2f2f2;
    padding-top: 20px;
    text-align: justify;
}

/*---------- end whoAreWe section ----------*/

/*---------- services section ----------*/

#services {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: coral;
	margin: 0px;
}

.service-item {
	text-align: center;
}

.service-item > p {
	text-align: justify;
}

.services-body {
	margin-top: 30px;
}

/*---------- end services section ----------*/

/*---------- contactUs section ----------*/

#contactUs {
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0px;
}

.contact {
    list-style: none;
    font-size: 1.5em;
}

.contact li a{
    cursor: default;
    text-decoration: none;
    color: #000;
}

.contact li i{
    font-size: 50px;
    color: #09589b;
    
}

.text-contact {
    margin-left: 20px;
}

/*---------- end contactUs section ----------*/

/*---------- footer ----------*/

footer {
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0px;
	background-color: #2e3031;
	color: #fff;
	text-align: center;
}

/*---------- end footer ----------*/

