/* codeAwesome.com styles by codeAwesome */

/*---------- global styles ----------*/
html, body{
    overflow-x: hidden;
}
.text-left {
    padding-left: 30px;
}
/*---------- end global styles ----------*/

/*---------- header ----------*/

header {
    overflow: hidden;
}

.main-container {
	width: 100%;
	background-color: #1e6f63;
	height: 100px;
    display: inline-block;
}

.logo-box {
	display: inline-block;
	line-height: 100px;
	vertical-align: middle;
	width: 350px;
	height: 100px;
	background-color: #fff;
	text-align: center;
	
	-webkit-box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.6);
}

#logo {
	width: 300px;
	height: auto;
}

.nav-box {
    float: right;
	vertical-align: top;
    margin-right: 5%;
}

.nav-pills > li{
	padding-left: 2px;
}

.nav-pills > li > a {
	border-radius: 0px;
	color: #fff;
	margin: 0px;
	font-size: 24px;
	padding: 33px;
}

.nav-pills > li > a:hover{
	background-color: #1b675c;
	animation-duration: .5s;
	animation-name: pillhover;
	-webkit-box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.6);

}

@keyframes pillhover {
	from {
		background-color: #1e6f63;
	-webkit-box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.6);
	}
	to {
		background-color: #1b675c;
	-webkit-box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.6);
	}
}

#jumbotron {
	width: 1920px;
	min-width: 800px;
}

/*---------- end header ----------*/

/*---------- whoAreWe section ----------*/

section {
	margin-top: 15px;
}

#whoAreWe {
	background: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0px;
}

.img-title {
	height: 80px;
	width: auto;
	vertical-align: top;
}

.section-title {
	font-size:4em;
	margin-top: 10px;
	vertical-align: top;
}

.section-desciption {
	margin-top: 30px;
	text-indent: 3em;
	font-size: 1.5em;
	line-height: 28px;
	color: #838383;
	text-align: justify;
    margin-bottom: 20px;
}

.photo-developer {
	margin-top: 20px;
	max-width: 200px;
	text-align: center;
}

.photo-developer img {
	max-width: 200px;
	text-align: center;
}


.container-description {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.width-block-description {
    width: 80%;
    margin-bottom: 50px;
}

.width-img-description {
    width: 10%;
    padding-top: 12px;
}

.img-subtitle {
    height: auto;
    width: 100%;
}

.section-subtitle {
    font-size: 2em;
    font-weight: bold;
}

.sub-description {
    margin-left: 50px;
    margin-top: 20px;
}

.section-subdesciption {
    text-indent: 3em;
	font-size: 1.5em;
	line-height: 28px;
	color: #e6e6e6;
	text-align: justify;
}

.left blockquote {
    padding-top: 10px;
}

.left .block-description{
    border-left-color: #a5dbdd;
    border-left-width: 7px;
    -webkit-box-shadow: 13px 12px 26px -6px rgba(0,0,0,0.59);
    -moz-box-shadow: 13px 12px 26px -6px rgba(0,0,0,0.59);
    box-shadow: 13px 12px 26px -6px rgba(0,0,0,0.59);
}

.right .block-description{
    border-right-color: #a5dbdd;
    border-right-width: 7px;
    border-right-style: solid;
    -webkit-box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.59);
    box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.59);
}

.right.width-img-description{
    margin-right: 85px;
}

.block-description {
    font-style: italic;
    text-indent: 1em;
	font-size: 1.5em;
	line-height: 28px;
    height: 100px;
    background-color: #f2f2f2;
    padding-top: 20px;
    text-align: justify;
}

/*---------- end whoAreWe section ----------*/

/*---------- services section ----------*/

#services {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #FFA042;
	margin: 0px;
}

.ws2 {
	color: #a33200;
}

.service-item {
	text-align: center;
}

.first {
	height: auto;
	width: 150px;
}

.second {
	height: 100px;
	width: auto;
	margin-top: 50px;
}

.third {
	margin-top: 15px;
	height: 135px;
	width: auto;
    -webkit-box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.59);
    box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.59);
}

.service-item > div > h3, .flip-title {
	margin-top: 40px;
	font-weight: bold;
	color: #a33200;
}

.service-item > div > p {
	margin-top: 20px;
	text-indent: 3em;
	text-align: justify;
	line-height: 28px;
	font-size: 18px;
	color: black;
}

.services-body {
	margin-top: 40px;
}

.flip-title {
	text-align: center;
	font-size: 30px;
}

.flip-carousel {
	border: solid 10px black;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	height: 200px;
	width: 100%;
	padding: 5px;
}

.flip-carousel .controls .arrow {
	top: 60px;
}

.flip-carousel .controls .arrow:after {
	top: 19px;
}

.flip-carousel > ul {
	height: 170px;
	width: 80%;
	margin: 0 auto;
}

.flip-carousel > ul > li {
	height: 150px;
	width: 30%;
}

.flip-carousel .face, .flip-carousel .card {
	height: 150px;
}

.flip-img {
	line-height: 148px;
}

.flip-img img {
	max-height: 150px;
	max-width: 100%!important;
}

/*---------- end services section ----------*/

/*---------- contactUs section ----------*/

#contactUs {
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0px;
    background-color: #f1f1fa;
}

.contact {
    list-style: none;
    font-size: 1.5em;
}

.contact li {
    margin-bottom: 30px;
}

.contact li a {
    cursor: default;
    text-decoration: none;
    color: #000;
    height: 50px;
}

.contact li strong {
    position: absolute;
    margin-top: 13px;
}

.contact li i {
    font-size: 50px;
    color: #09589b;
}

.contact li i.fa-envelope-o {
    margin-left: -10px;
}

.contact .text-contact {
    margin-left: 20px;
}

.contact-method {
    background-color: white;
    padding-top: 30px;
    -webkit-box-shadow: 5px 9px 26px 4px rgba(113,116,122,1);
    -moz-box-shadow: 5px 9px 26px 4px rgba(113,116,122,1);
    box-shadow: 5px 9px 26px 4px rgba(113,116,122,1);
}

.contact-method .group-input {
    margin-top:20px;
    position: relative;
    margin-bottom: 60px;
}

.contact-method .form-control {
    border-radius: 0px;
    font-size: 1.3em;
    font-style: italic;
    border:none;
    background: transparent;
    box-shadow: none;
    outline: none;
    padding: 15px;
    border-bottom: solid 3px #95999a;
}

.contact-method .form-control.active {
    outline: 0px;
    border-bottom: solid 4px #09589b;
}

.contact-method .form-control.error {
    border-color: #b41313;
}

.contact-method .form-control.valid {
    border-color: #20811c;
}

.contact-method textarea {
    height: 150px;
}

.group-input label {
    color: #09589b;
    font-size: 1.5em;
    position: absolute;
    top: -10px;
    left: 0;
    margin-left: 16px;
    line-height: 16px;
    -web-kit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.group-input label.active {
    color: #95999a;
    top: -30px;
    font-size: 1.3em;
}

.group-input label.empty, .group-input label.invalid {
    color: #b41313;
}

.group-input label.valid {
    color: #20811c;
}

#send {
	width: 100%;
    font-size: 1em;
    font-weight: 600;
    border: solid 2px #09589b;
    line-height: 1em;
    padding: 9px 14px;
    color: #09589b;
    background: transparent;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: auto;
    transition: all 0.3s ease-in-out;
}

#send:hover {
	cursor: pointer;
    color: white;
    background-color: #09589b;
}

#send:disabled {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
		  box-shadow: none;
	opacity: .65;
}

.height-contact-data {
    height: 300px;
}

.height-contact-form {
    height: 500px;
}

/*---------- end contactUs section ----------*/

/*---------- footer ----------*/

footer {
	padding: 20px 0px;
	margin: 0px;
	background-color: #2e3031;
	color: #fff;
	text-align: left;
}

footer p {
	margin: 0px 0px 0px 30px;
	font-size: 16px;
    display: inline;
    position: absolute;
    padding-top:15px;
}


.list-icon {
    list-style: none;
    display: inline;
}

.list-icon .icon {
    float: right;
    display: inline-block;
    margin-right: 40px;
}

.list-icon .icon .social-icon {
    width:50px;
    height: 50px;
}

.code-word {
    color: #00848a;
}

.awesome-word {
    color: #f0903c;
}

.backTop {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: firebrick;
	position: fixed;
	bottom: 15px;
	right: 15px;
-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.7);
-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.7);
box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.7);
}

.backTop i {
	color: #fff;
	position: absolute;
	bottom: 15px;
	right: 11px;

}
/*---------- end footer ----------*/


/*---------- scroll-bar ----------*/

::-webkit-scrollbar {
	scroll-top: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #FFA042;
  border: 1px solid #666666;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f9f9f9;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*------- end scroll-bar ----------*/

/*----------opacity----------------*/

.vision, .mision, .our-developers .section-subtitle, .our-developers .img-circle, .our-developers .img-description, .title-services, .service-item, #flip-carousel, #contactUs .text-left, .contact-method{
	opacity: 0;
}
.animated{
    opacity: 1 !important;
}

/*----------end opacity ---------*/
