<div class="container">
	<div class="row">
		<div class="col-md-12 text-left">
			<span class="section-title">Contáctenos</span><img class="img-title" src="pic/contacto.png" alt="">
		</div>
	</div>

	<div class="row services-body">
        <div class="col-md-5 col-md-offset-1 contact-method height-contact-data">
            <ul class="contact">
                <li>
                	<a href="tel:+584125097261"><i class="fa fa-mobile"></i><strong class="text-contact">+58-412-509-7261</strong></a>
                </li>
                <li>
                	<a href="tel:+584160560620"><i class="fa fa-mobile"></i><strong class="text-contact">+58-416-056-0620</strong></a>
                </li>
                <li>
                	<i class="fa fa-envelope-o"></i><strong class="text-contact">codeawesomepro@gmail.com</strong>
                </li>
            </ul>
        </div>

        <div class="col-md-5 col-md-offset-1 contact-method height-contact-form">
            <div class="group-input">
                <label for="name">Nombre</label>
            	<input id="name" type="text" class="form-control" />
            </div>

            <div class="group-input">
            	<label for="correo">Correo</label>
            	<input id="correo" type="email" class="form-control" />
            </div>

            <div class="group-input">
            	<label for="message">Mensaje</label>
                <textarea id="message" class="form-control"></textarea>
            </div>

            <button id="send">Enviar</button>
        </div>
    </div>
</div>
