<div class="container">
	<div class="row">
		<div class="col-md-12 text-left">
			<span class="section-title">Contactenos</span><img class="img-title" src="../pic/contacto3.png" alt="">
		</div>
	</div>

	<div class="row services-body">

		<div class="col-md-4 col-sm-4">
			<div class="service-item">
				<img src="../pic/service-first.png" alt="">
				<h3>Desarrollo de aplicaciones web</h3>
				<p>Diseño fluido y adaptable a múltiples pantallas con ricas interfaces visuales faciles de usar hasta para usarios sin experiencia con un manejo de datos de forma eficiente y seguridad garantizada.</p>
			</div>
		</div>
	</div>
</div>
