<div class="container">
	<div class="row">
		<div class="col-md-12 text-left">
			<span class="section-title">Contáctenos</span><img class="img-title" src="../pic/contacto3.png" alt="">
		</div>
	</div>

	<div class="row services-body">

		<ul class="contact">
		    <li><a href="tel:+584125097261"><i class="fa fa-mobile"></i><span class="text-contact">+58-412-509-7261</span></a></li>
            <li><a href="tel:+584160560620"><i class="fa fa-mobile"></i><span class="text-contact">+58-416-056-0620</span></a></li>
		    <li><i class="fa fa-envelope-o"></i><span class="text-contact">codeawesomepro@gmail.com</span></li>
		</ul>
		</div>
	</div>
</div>
