<!-- template for desktop and tablet -->

<header>
	<div class="nav-wrap">
		<div id="logo">
			<img src="pic/codeAmazing-logo.png" alt="codeAmazing desarrolladores">
		</div>

		<nav class="nav-bar">
			<ul class="nav nav-pills">
				<li>
					<a href="#whoAreWe"><span>Quiénes somos</span></a>
				</li>
				<li>
					<a href="#services"><span>Nuestros servicios</span></a>
				</li>
				<li>
					<a href="#contactUs"><span>Contáctenos</span></a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="camera_wrap">
		<div data-src="pic/camera/codeAmazing-carousel-logo.jpg" data-thumb="pic/camera/codeAmazing-carousel-logo.min.jpg"></div>
		<div data-src="pic/camera/codeAmazing-carousel-seo.jpg" data-thumb="pic/camera/codeAmazing-carousel-seo.min.jpg"></div>
		<div data-src="pic/camera/codeAmazing-carousel-alcance.jpg" data-thumb="pic/camera/codeAmazing-carousel-alcance.min.jpg"></div>
	</div>
</header>

<section id="whoAreWe">
	<div class="container">
		<div class="row">
			<!-- whoAreWe title -->
			<div class="col-md-12">
				<h2>Quiénes somos</h2><img src="pic/question.png" alt="question">
			</div>

			<!-- whoAreWe description -->
			<div class="col-md-12">
				<p class="waw-desciption">Somos un grupo de desarrolladores emprendedores. Cada día nos esforzamos por mantenernos a la vanguardia con las últimas tecnologías del mercado, brindando así el mejor servicio a nuestros clientes. Garantizamos la funcionalidad, estabilidad y seguridad de nuestros proyectos y cumplimos en todo momento con las especificaciones técnicas que se nos exigen. <strong><em>¡Nuestro objetivo es su satisfacción!</em></strong></p>
			</div>

			<!-- vision -->
			<div class="vision col-sm-6 col-md-12">
				<div class="col-md-12 hidden-sm">
					<h3>Visión</h3>
				</div>

				<div class="clearfix"></div>

				<div class="vision-wrap">
					<div class="vision-img hidden-sm">
						<img src="pic/vision.png" alt="Visión" />
					</div>
					<blockquote>
						<div class="visible-sm vision-img-sm">
							<img class="adaptable" src="pic/vision.png" alt="Visión" />
						</div>
						<div class="visible-sm col-sm-12">
							<h3>Visión</h3>
						</div>

						<p>Contribuir a facilitar la vida de nuestros clientes, por medio de soluciones tecnológicas que automaticen sus tareas y así ser la elección preferida para el desarrollo de software.</p>
					</blockquote>
				</div>
			</div>

			<!-- mision -->
			<div class="mision col-sm-6 col-md-12">
				<div class="col-md-12 col-sm-12 hidden-sm">
					<h3>Misión</h3>
				</div>

				<div class="clearfix"></div>

				<div class="mision-wrap">
					<blockquote>
						<div class="visible-sm mision-img-sm">
							<img class="adaptable" src="pic/mision.png" alt="Misión" />
						</div>
						<div class="visible-sm col-md-12 col-sm-12 text-center">
							<h3>Misión</h3>
						</div>

						<p>Desarrollar software de calidad con el propósito de solucionar muchas de las necesidades tecnológicas que presenta la sociedad actual.</p>
					</blockquote>
					<div class="mision-img hidden-sm">
						<img src="pic/mision.png" alt="Misión" />
					</div>
				</div>
			</div>
		</div>

		<!-- our developers -->
		<div class="row our-developers">

			<div class="col-md-12">
				<h3>Nuestros Desarrolladores</h3>
			</div>

			<div class="clearfix"></div>

			<div class="col-sm-5 col-md-3 col-sm-offset-1 col-md-offset-3">
				<div class="photo-developer center-block">
					<img class="img-circle adaptable" src="pic/otniel.jpg" alt="Otniel Acevedo">
					<div class="img-description">
						<h4>Otniel Acevedo</h4>
						<p>Front-End developer</p>
					</div>
				</div>
			</div>

			<div class="col-sm-5 col-md-3">
				<div class="photo-developer center-block">
					<img class="img-circle adaptable" src="pic/jose.jpg" alt="José Parra">
					<div class="img-description">
						<h4>José Parra</h4>
						<p>Back-End developer</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="services">
	<div class="container">
		<div class="row services-title">
			<div class="col-md-12">
				<h2>Nuestros servicios</h2><img src="pic/services.png" alt="Nuestros Servicios">
			</div>
		</div>

		<div class="row services-body">

			<!-- service 1 - responsive design -->
			<div class="col-sm-12 col-md-4">
				<div class="row services-item">
					<div class="col-sm-4 col-md-12">
						<img class="adaptable" src="pic/service-first-xs.png" alt="páginas web adaptables">
					</div>
					<div class="col-sm-8 col-md-12">
						<h3>Dise&ntilde;o de páginas adaptables</h3>
						<p>Un dise&ntilde;o fluido y adaptable a múltiples pantallas brinda la oportunidad a los usuarios de acceder a su sitio web desde cualquier dispositivo. Esto es muy importante debido al gran auge que tienen hoy dia los dispositivos móviles, por lo cual suelen ser la opcion de preferencia de los usuarios para acceder a la web.</p>
					</div>
				</div>
			</div>

			<!-- service 2 - animated pages -->
			<div class="col-sm-12 col-md-4">
				<div class="row services-item">
					<div class="col-sm-4 col-md-12">
						<img class="services-item-animated" src="pic/service-second.png" alt="páginas web animadas">
					</div>
					<div class="col-sm-8 col-md-12">
						<h3>Páginas web animadas</h3>
						<p>Nuestros dise&ntilde;os alegres con divertidas animaciones ofrecen una mejor experiencia a los usuarios que visiten su página. Hacemos uso de CSS3 y JavaScript para realizar dichas animaciones, de esta forma obtenemos páginas divertidas con un buen rendimiento.</p>
					</div>
				</div>
			</div>

			<!-- service 3 - enterprice web system -->
			<div class="col-sm-12 col-md-4">
				<div class="row services-item">
					<div class="col-sm-4 col-md-12">
						<img class="adaptable" src="pic/service-third-xs.png" alt="Aplicaciones web empresariales">
					</div>

					<div class="col-sm-8 col-md-12">
						<h3>Aplicaciones web empresariales</h3>
						<p>Nuestros sistemas administrativos desarrollados con tecnologías web mejoran el desempeño de sus trabajadores facilitando sus tareas y minificando el tiempo en que las realizan. Mejoran la transmición de datos entre departamentos. Mantienen la informacion actualizada, respaldada y protegida. Permiten imprimir o descargar resportes en distintos formatos inlcuido PDF. Son fáciles de utilizar y de realizar mantenimiento frecuente.</p>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>

			<!-- flipcarousel -->
			<div id="flip-carousel">
				<h3 class="flip-title">Lenguajes, Frameworks y Bases de datos que utilizamos</h3>

				<div class="flip-img"><img src="pic/languages/html5.png" alt="HTML5"></div>
				<div class="flip-img"><img src="pic/languages/css3.png" alt="CSS3"></div>
				<div class="flip-img"><img src="pic/languages/JavaScript.png" alt="JS"></div>
				<div class="flip-img"><img src="pic/languages/php.png" alt="PHP"></div>
				<div class="flip-img"><img src="pic/languages/python.png" alt="Python"></div>

				<div class="flip-img"><img src="pic/languages/jquery.png" alt="jQuery"></div>
				<div class="flip-img"><img src="pic/languages/angularjs.png" alt="AngularJS"></div>
				<div class="flip-img"><img src="pic/languages/bootstrap.png" alt="Bootstrap"></div>
				<div class="flip-img"><img src="pic/languages/laravel.png" alt="Laravel"></div>
				<div class="flip-img"><img src="pic/languages/django.png" alt="Django"></div>

				<div class="flip-img"><img src="pic/languages/mysql.png" alt="MySql"></div>
				<div class="flip-img"><img src="pic/languages/postgre.png" alt="PostgreSQL"></div>
			</div>
		</div>
	</div>
</section>

<section id="contactUs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Contáctenos</h2><img src="pic/contacto.png" alt="Contáctenos" />
			</div>
		</div>

		<div class="row contactUs-body">
			<div class="col-sm-12 col-md-5 contact-method">
				<ul class="contact-data-md">
					<li>
						<a href="tel:+584125097261"><i class="fa fa-mobile"></i><strong>+58 412-509-7261</strong></a>
					</li>
					<li>
						<a href="tel:+584160560620"><i class="fa fa-mobile"></i><strong>+58 416-056-0620</strong></a>
					</li>
					<li>
						<a href="mailto:codeamazinginc@gmail.com"><i class="fa fa-envelope-o"></i><strong>codeamazinginc@gmail.com</strong></a>
					</li>
				</ul>
			</div>

			<form class="col-sm-12 col-md-5 col-md-offset-2 contact-method" autocomplete="off">

				<div class="group-input">
					<label class="hidden-sm" for="name">Nombre</label>
					<input id="name" type="text" class="form-control" />
				</div>

				<div class="group-input">
					<label class="hidden-sm" for="correo">Correo</label>
					<input id="correo" type="email" class="form-control" />
				</div>

				<div class="group-input">
					<label class="hidden-sm" for="message">Mensaje</label>
					<textarea id="message" class="form-control"></textarea>
				</div>

				<button id="send">Enviar</button>
			</form>
		</div>
	</div>
</section>

<footer>
	<p><span id="we">&#60;<span class="code-word">code</span><span class="amazing-word">Amazing</span>/&#62;</span> desarolladores, Venezuela, Carabobo, Puerto Cabello. </p>

	<ul class="social-list">
		<li>
			<a href="https://www.facebook.com/codeAmazingInc" target="_blank"><i class="fa fa-facebook-official"></i></a>
		</li>
		<li>
			<a href="https://twitter.com/code_amazing" target="_blank"><i class="fa fa-twitter"></i></a>
		</li>
		<li>
			<a href="https://plus.google.com/110217866311359367386" target="_blank"><i class="fa fa-google-plus-circle"></i></a>
		</li>
		<li>
			<a href="https://github.com/codeamazinginc" target="_blank"><i class="fa fa-github"></i></a>
		</li>
	</ul>
</footer>

<div class="backTop waves-effect waves-light">
	<i class="fa fa-chevron-up fa-2x"></i>
</div>
