<div class="container-fluid">
	<div class="row">
		<p>&#60;<span class="code-word">code</span><span class="awesome-word">Awesome</span>/&#62; developers, Venezuela, Carabobo, Puerto Cabello. </p>
        <ul class="list-icon">
            <li class="icon"><a href="https://www.facebook.com/codeawesomegroup" target="_blank"><img src="../pic/facebook.png" class="social-icon" /></a></li>
            <li class="icon"><a href="https://twitter.com/codeawesome_pro" target="_blank"><img src="../pic/Twitter.png" class="social-icon" /></a></li>
            <li class="icon"><a href="https://plus.google.com/111983470848815593808" target="_blank"><img src="../pic/googleplus.png" class="social-icon" /></a></li>
            <li class="icon"><a href="https://github.com/codeAwesome" target="_blank"><img src="../pic/github.png" class="social-icon" /></a></li>
        </ul>
	</div>
</div>
