<div class="section active" id="header">
	<div class="container">
		<div class="header-title">
			<img src="pic/logo.png" alt="codeAwesome developers">
		</div>
		<div class="xs-title">
			<span>¡Bienvenidos!</span>
		</div>

		<div class="tutorial">
			<div id="camera-xs" class="camera_wrap">
				<div data-src="pic/jumbotron.jpg"></div>
			</div>
		</div>

		<div class="instruccions animated">
		    <h2>Instrucciones</h2>
		    <div class="animation">
                <div class="description">
                    <h3 class="text-indication animated fadeIn">Deslice verticalmente para cambiar de sección</h3>
                </div>
                <div class="description text-1-2">
                    <h3 class="text-indication">Sección 1.2</h3>
                </div>
		        <div class="in-move">
		            <div class="description">
                        <h3 class="text-indication">Sección 2.1</h3>
                    </div>
		        </div>
		    </div>
		    <i class="fa fa-hand-pointer-o fa-3x hidden"></i>
		    <div class="hidden container-button">
		        <button class="width-button-instruccions button-instruccions review-instruccions ripple-container waves-effect waves-light">Repetir</button>
		        <button class="width-button-instruccions button-instruccions close-instruccions ripple-container waves-effect waves-light">Continuar</button>
            </div>
            <button class="button-ingore-instruccions button-instruccions ripple-container waves-effect waves-light">Saltar instrucciones</button>
		</div>


		<ul id="menu-xs" class="hidden">
			<li class="ripple-container waves-effect waves-light">Quiénes Somos</li>
			<li class="ripple-container waves-effect waves-light">Servicios</li>
			<li class="ripple-container waves-effect waves-light">Contáctenos</li>
			<li class="ripple-container waves-effect waves-light">Redes Sociales</li>
		</ul>
	</div>
</div>

<div class="section" id="whoAreWe-xs">
	<div class="slide">
		<div class="container">
			<div class="xs-title waw-main-title">
				<h3>Quiénes somos</h3><img class="img-title" src="pic/question.png" alt="question">
			</div>
			<div class="xs-body waw-main-body">
				<p>Somos un grupo de desarrolladores emprendedores. Cada día nos esforzamos por mantenernos a la vanguardia con las últimas tecnologías del mercado, brindando así el mejor servicio a nuestros clientes. Garantizamos la funcionalidad, estabilidad y seguridad y pisicionamiento de nuestros proyectos y cumplimos en todo momento con las espicificaciones técnicas que nos exigen. Nuestro objetivo es la satisfacción del cliente.</p>
			</div>
		</div>
	</div>

	<div class="slide">
		<div class="container">
			<div class="xs-title waw-title">
				<div class="waw-img"><img src="pic/vision.png" alt="Visión" /></div>
				<h3>Visión</h3>
			</div>
			<div class="xs-body waw-body">
				<p>Contribuir a facilitar la vida de nuestros clientes, por medio de soluciones tecnológicas que automaticen sus tareas y así ser la elección preferida para el desarrollo de software.</p>
			</div>
		</div>
	</div>

	<div class="slide">
		<div class="container">
			<div class="xs-title waw-title">
				<div class="waw-img"><img src="pic/mision.png" alt="Misión" /></div>
				<h3>Misión</h3>
			</div>
			<div class="xs-body waw-body">
				<p>Desarrollar software de calidad con el propósito de solucionar muchas de las necesidades tecnológicas que presenta la sociedad actual.</p>
			</div>
		</div>
	</div>

	<div class="slide">
		<div class="container">
			<div class="xs-title waw-dev-title">
				<h3>Nuestros Desarrolladores</h3>
			</div>

			<div class="xs-body waw-dev-body">
				<div class="waw-dev-ficha">
					<img class="img-circle" src="pic/otniel.jpg" alt="Otniel Acevedo">
					<span>Otniel Acevedo</span>
					<span>Front-End developer</span>
				</div>

				<div class="waw-dev-ficha">
					<img class="img-circle" src="pic/jose.jpg" alt="José Parra">
					<span>José Parra</span>
					<span>Back-End developer</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section" id="services-xs">
    <div class="slide">
		<div class="container" style="padding-top:12%;">
            <div class="s-main-title">
				<h3>Nuestros Servicios</h3>
				<img src="pic/main-service.png" alt="services-main">
			</div>
        </div>
    </div>

	<div class="slide">
		<div class="container">
			<div class="xs-title service-title">
				<div class="flex-img"><img src="pic/service-first-xs.png" alt="diseño de páginas adaptables"></div>
				<h3>Dise&ntilde;o de páginas adaptables</h3>
			</div>
			<div class="xs-body service-body">
				<p>Un diseño fluido y adaptable a múltiples pantallas brinda la oportunidad a los usuarios de acceder al web site desde cualquier dispositivo, lo que es muy importante debido a la gran cantidad de personas que acceden desde dispotivos moviles.</p>
			</div>
		</div>
	</div>

	<div class="slide">
		<div class="container">
			<div class="xs-title service-title">
				<div class="flex-img"><img class="animated infinite bounce" src="pic/service-second-xs.png" alt="páginas web animadas"></div>
				<h3>Páginas web animadas</h3>
			</div>
			<div class="xs-body service-body">
				<p>Nuestros dise&ntilde;os alegres con divertidas animaciones ofrecen una mejor experiencia a los usuarios que visiten su página. Hacemos uso de CSS3 y JavaScript para realizar dichas animaciones, de esta forma obtenemos paginas divertidas con un buen rendimiento.</p>
			</div>
		</div>
	</div>

	<div class="slide">
		<div class="container">
			<div class="xs-title service-title">
				<div class="flex-img"><img src="pic/service-third-xs.png" alt="Aplicaciones web empresariales" /></div>
				<h3>Aplicaciones Empresariales</h3>
			</div>
			<div class="xs-body service-body">
				<p>Nuestros sistemas administrativos desarrollados con tecnologias web brindan a los usuarios la oportunidad de realizar sus tareas con comodidad y rapides. Mejoran la transmición de datos entre departamentos. Mantienen la informacion actualizada y respaldada. Permiten imprimir o descargar resportes en distintos formatos, siendo el mas usado PDF. Ademas son fáciles de administrar y realizar mantenimiento frecuente.</p>
			</div>
		</div>
	</div>

	<div class="slide">
		<div class="container">
			<div class="xs-title s-carousel-title">
				<h3>Lenguajes y FrameWorks</h3>
			</div>
			<div class="xs-body s-carousel-body">
				<div id="flip-carousel-xs">
					<div class="flip-img-xs"><img src="pic/languages/html5.png" alt="HTML5"></div>
					<div class="flip-img-xs"><img src="pic/languages/css3.png" alt="CSS3"></div>
					<div class="flip-img-xs"><img src="pic/languages/JavaScript.png" alt="JS"></div>
					<div class="flip-img-xs"><img src="pic/languages/php.png" alt="PHP"></div>
					<div class="flip-img-xs"><img src="pic/languages/python.png" alt="Python"></div>

					<div class="flip-img-xs"><img src="pic/languages/jquery.png" alt="jQuery"></div>
					<div class="flip-img-xs"><img src="pic/languages/angularjs.png" alt="AngularJS"></div>
					<div class="flip-img-xs"><img src="pic/languages/bootstrap.png" alt="Bootstrap"></div>
					<div class="flip-img-xs"><img src="pic/languages/laravel.png" alt="laravel"></div>
					<div class="flip-img-xs"><img src="pic/languages/django.png" alt="Django"></div>

					<div class="flip-img-xs"><img src="pic/languages/mysql.png" alt="MySQL"></div>
					<div class="flip-img-xs"><img src="pic/languages/postgre.png" alt="PostgreSQL"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section" id="contactUs-xs">
	<div class="container">
		<div class="xs-title contact-title">
			<h3>Contáctenos</h3>
		</div>
		<div class="xs-body contact-body">
			<ul class="contact-data">
				<li>
					<a href="tel:+584125097261"><i class="fa fa-mobile"></i><strong>+58-412-509-7261</strong></a>
				</li>
				<li>
					<a href="tel:+584160560620"><i class="fa fa-mobile"></i><strong>+58-416-056-0620</strong></a>
				</li>
				<li class="email">
					<a href="mailto:codeawesomepro@gmail.com"><i class="fa fa-envelope-o"></i><strong>codeawesomepro@gmail.com</strong></a>
				</li>
			</ul>

			<form id="contact-form" class="contact-form" autocomplete="off">
				<h3>Envianos un Correo</h3>
				<div class="group-input">
					<label class="sr-only" for="name">Nombre:</label>
					<input id="name" type="text" class="form-control"  placeholder="Nombre..."/>
				</div>

				<div class="group-input">
					<label class="sr-only" for="correo">Correo</label>
					<input id="correo" type="email" class="form-control"  placeholder="E-mail..."/>
				</div>

				<div class="group-input">
					<label class="sr-only" for="message">Mensaje</label>
					<textarea id="message" class="form-control" placeholder="Su mensaje"></textarea>
				</div>

				<button id="send" type="submit" class="hidden">Enviar</button>

				<h4 id="back" class="hidden">Toque aquí para volver<i class="fa fa-hand-pointer-o fa-4x"></i></h4>
			</form>
		</div>
	</div>
</div>

<div class="section" id="footer">
	<div class="container">
		<div class="xs-title ft-title">
			<h3>¡Visítanos!</h3>
			<span>en nuestras redes sociales</span>
		</div>
		<div class="xs-body ft-body">

			<a href="https://www.facebook.com/codeawesomegroup" target="_blank">
				<i class="fa fa-facebook-official"></i>
			</a>

			<a href="https://twitter.com/codeawesome_pro" target="_blank">
				<i class="fa fa-twitter"></i>
			</a>

			<a href="https://plus.google.com/111983470848815593808" target="_blank">
				<i class="fa fa-google-plus-circle"></i>
			</a>

			<a href="https://github.com/codeAwesome" target="_blank">
				<i class="fa fa-github"></i>
			</a>

			<p>
				<span>&#60;<word class="code-word">code</word><word class="awesome-word">Awesome</word>/&#62;</span>
				<span>developers, Venezuela, Carabobo, Puerto Cabello.</span>
			</p>
		</div>
	</div>
</div>
