<ul class="orbit-container">
	<button class="orbit-previous"><span class="show-for-sr">anterior</span>&#9664;&#xFE0E;</button>
	<button class="orbit-next"><span class="show-for-sr">siguiente</span>&#9654;&#xFE0E;</button>

	<li class="is-active orbit-slide">
	  <img class="orbit-image" src="pic/jumbotron.jpg" alt="Space">
	  <figcaption class="orbit-caption">imagen 1</figcaption>
	</li>

	<li class="orbit-slide">
	  <img class="orbit-image" src="pic/pic1.jpg" alt="Space">
	  <figcaption class="orbit-caption">imagen 2</figcaption>
	</li>

	<li class="orbit-slide">
	  <img class="orbit-image" src="pic/pic2.jpg" alt="Space">
	  <figcaption class="orbit-caption">imagen 3</figcaption>
	</li>
</ul>

<nav class="orbit-bullets">
	<button class="is-active" data-slide="0">
		<span class="show-for-sr">imagen 1</span>
		<span class="show-for-sr">nos e q es</span>
	</button>
	<button data-slide="1"><span class="show-for-sr">imagen 2</span></button>
	<button data-slide="2"><span class="show-for-sr">imagen 3</span></button>
</nav>
