<div class="container">
	<div class="row">
		<div class="col-md-12 text-right">
			<span class="section-title ws2">Nuestros servicios</span><img class="img-title" src="../pic/servicios.png" alt="">
		</div>
	</div>

	<div class="row services-body">

		<div class="col-md-4 col-sm-4">
			<div class="service-item">
				<img class="first" src="../pic/service-first2.png" alt="">
				<h3>Dise&ntilde;o de paginas adaptables</h3>
				<p>Diseño fluido y adaptable a múltiples pantallas, versatiles y faciles de usar. Si necesita que sus paginas funcionen en distintos dispositivos no dude en contactarnos.</p>
			</div>
		</div>

		<div class="col-md-4 col-sm-4">
			<div class="service-item">
				<img class="animated infinite bounce  second" src="../pic/service-second2.png" alt="">
				<h3>Paginas web animadas</h3>
				<p>Dise&ntilde;os alegres con divertidas animaciones que brindan una mejor experiencia de usuario. Hacemos uso de CSS3 y JavaScript para realizar dichas animaciones por lo que no afecta el rendimiento de la pagina.</p>
			</div>
		</div>

		<div class="col-md-4 col-sm-4">
			<div class="service-item">
				<img class="third" src="../pic/api6.png" alt="">
				<h3>Aplicaciones web para empresas o comerciantes</h3>
				<p>Aplicaciones desarrolladas con tecnologias web, trabajamos tanto backEnd como frontEnd. Estas le permiten a los usuarios realizar tareas mas eficientemente, contar con la informacion al momento e imprimer reportes de la misma. Trabajamos con sistemas integrados y con apis ResFull.</p>
			</div>
		</div>
	</div>
</div>
