<div class="container">
	<div class="row">
		<div class="col-md-12 text-right">
			<span class="section-title">Nuestros servicios</span><img class="img-title" src="../pic/servicios.png" alt="">
		</div>
	</div>

	<div class="row services-body">

		<div class="col-md-4 col-sm-4">
			<div class="service-item">
				<img class="first" src="../pic/service-first2.png" alt="">
				<h3>Dise&ntilde;o de paginas adaptables</h3>
				<p>Diseño fluido y adaptable a múltiples pantallas, versatiles y faciles de usar. Si necesita que sus paginas funcionen en distintos dispositivos no dude en contactarnos.</p>
			</div>
		</div>

		<div class="col-md-4 col-sm-4">
			<div class="service-item">
				<img class="animated infinite bounce  second" src="../pic/service-second2.png" alt="">
				<h3>Paginas web animadas</h3>
				<p>Dise&ntilde;os alegres con divertidas animaciones que brindan una mejor experiencia de usuario a sus Paginas Web. Hacemos uso de las herramientas que incluye CSS3 y JS para realizar dichas animaciones por lo cual no representan un peligro al rendimiento de la pagina.</p>
			</div>
		</div>

		<div class="col-md-4 col-sm-4">
			<div class="service-item">
				<img class="third" src="../pic/service-third.png" alt="">
				<h3>Web Apps para Empresas o Comerciantes</h3>
				<p>Si necesitas ayuda en el desarrollo de tus aplicaciones con lo siguientes lenguajes: PHP, Python, o en desarrollo Front-End no dudes en solicitar nuestro apoyo</p>
			</div>
		</div>
	</div>
</div>
