<div class="container">
	<div class="row">
		<div class="col-md-12 text-right">
			<span class="section-title ws2">Nuestros servicios</span><img class="img-title" src="../pic/servicios.png" alt="">
		</div>
	</div>

	<div class="row services-body">

		<div class="col-md-4 col-sm-4">
			<div class="service-item">
				<img class="first" src="pic/service-first.png" alt="">
				<h3>Dise&ntilde;o de paginas adaptables</h3>
				<p>Un diseño fluido y adaptable a múltiples pantallas brinda la oportunidad a los usuarios de acceder al web site desde cualquier dispositivo, lo que es muy importante debido a la gran cantidad de personas que acceden desde dispotivos moviles.</p>
			</div>
		</div>

		<div class="col-md-4 col-sm-4">
			<div class="service-item">
				<img class="animated infinite bounce  second" src="pic/service-second.png" alt="">
				<h3>Paginas web animadas</h3>
				<p>Nuestros dise&ntilde;os alegres con divertidas animaciones ofrecen una mejor experiencia a los usuarios que visiten su pagina. Hacemos uso de CSS3 y JavaScript para realizar dichas animaciones, de esta forma obtenemos paginas divertidas con un buen rendimiento.</p>
			</div>
		</div>

		<div class="col-md-4 col-sm-4">
			<div class="service-item">
				<img class="third" src="pic/service-third.png" alt="">
				<h3>Aplicaciones web empresariales</h3>
				<p>Nuestros sistemas administrativos desarrollados con tecnologias web permiten a los usuarios realizar tareas mas eficientemente, mejoran la transmicion de informacion entre departamentos y el respaldo de la misma, permiten imprimir y descargar resportes de la informacion deseada, Ademas son mas faciles de administrar y realizar mantenimiento fecuente.</p>
			</div>
		</div>
	</div>
</div>
