<div class="container">
	<div class="row">

		<div class="col-md-12">
			<span class="section-title">Quienes somos</span><img class="img-title" src="../pic/question1.png" alt="">
		</div>
		
		<div class="col-md-12">
			<p class="section-desciption">Somos un grupo de desarrolladores emprendedores que cada día se esfuerzan por seguir adquiriendo conocimientos que permitan mejorar la calidad de sus proyectos y así brindarles el mejor servicio a sus clientes con el fin de mejorar su calidad de vida.</p>
		</div>

		<div class="col-md-12 text-center">
		    <span class="section-subtitle">Visión</span>
		</div>

		<div class="clearfix"></div>

		<div class="sub-description">
			<div class="container-description width-img-description left">
				<img class="img-subtitle" src="../pic/vision.png" />
			</div>
			<div class="container-description width-block-description left">
				<blockquote class="block-description">Contribuir a facilitar la vida de nuestros clientes, por medio de soluciones tecnológicas que automaticen sus tareas y así ser la elección preferida para el desarrollo de software.</blockquote>
			</div>
	    </div>

	    <div class="col-md-12 text-center">
		    <span class="section-subtitle">Misión</span>
		</div>

        <div class="clearfix"></div>

	    <div class="sub-description">
            <div class="container-description width-img-description right">
                <img class="img-subtitle" src="../pic/mision.png" />
            </div>
            <div class="container-description width-block-description right">
                <blockquote class="block-description">Desarrollar software de calidad con el propósito de solucionar muchas de las necesidades tecnológicas que presenta la sociedad actual.</blockquote>
            </div>
	    </div>
	</div>
	
	<div class="row">

		<div class="col-md-12 text-center">
		    <span class="section-subtitle">Nuestros desarrolladores</span>
		</div>

		<div class="clearfix"></div>

		<div class="col-md-3 col-md-offset-3">
			<div class="photo-developer center-block">
				<img class="img-circle" src="../pic/otniel.jpg" alt="">
				<h3>Otniel Acevedo</h3>
				<p>Front-End developer</p>
			</div>
		</div>

		<div class="col-md-3 col-sm-3">
			<div class="photo-developer center-block">
				<img class="img-circle" src="../pic/jose.jpg">
				<h3 class="text-center">José Parra</h3>
				<p>Back-End developer</p>
			</div>
		</div>
	</div>
</div>
